// Custom styles.
::selection {
  background: #3399FF;
}

article a{
	border-bottom: none;
	color: $my-link-color;
	&:hover {
	    color: $my-link-hover-color;
	}
}
.posts-expand .post-body ul li{
	list-style: disc;
}
//最近访客
#ds-recent-visitors .ds-avatar{
	float:left;
}
//最新评论
.ds-recent-comments{
	padding-left:0;
}
//打赏样式
#wechat p{
	margin-top:-16px;
}
#alipay{
	vertical-align:top;
}
.lrc{
	width:100%;
	text-align:center;
}
.tip{
	color: #DF0101;
	font-weight:bold;
}