// Custom styles.
::selection {
  background: #3399FF;
}

a {
    border-bottom: none;
}
article a, .about-page a{ // about页面下也用此样式
	color: $my-link-color;
	&:hover {
	    color: $my-link-hover-color;
	}
}
.posts-expand .post-body ul li{
	list-style: disc;
}
//最近访客
#ds-recent-visitors .ds-avatar{
	float:left;
}
//最新评论
.ds-recent-comments{
	padding-left:0;
}
//打赏样式
#wechat p{
	margin-top:-16px;
}
#alipay{
	vertical-align:top;
}
.lrc{
	width:100%;
	text-align:center;
}
.tip{
	color: #DF0101;
	font-weight:bold;
}
// 行内代码
$code-block {
  overflow: auto;
  margin: 20px 0;
  padding: 15px;
  font-size : $code-font-size;
  color: $highlight-foreground;
  background: $my-highlight-background;
  border:1px solid $my-highlight-border;
  line-height: $line-height-code-block;
}
code {
  padding: 2px 4px;
  word-break: break-all;
  color: $my-code-foreground;
  background: $my-code-background;
  border-radius: $code-border-radius;
  font-size : $code-font-size;
}

p {
    margin: 0 0 15px;
}
